@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbit-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.weekBox {
    padding-left: 39px;
}

.week {
    display: inline-block;
    width: 45px;
    text-align: center;
}

.timeTableWeek {
    display: inline-block;
    vertical-align: top;
    border-collapse: collapse;
}

.timeTableTime {
    width: 46px;
    height: 50px;
    outline: 1px solid #969897;
    font-size: 9px;
    box-sizing: border-box;
    overflow: hidden;
}

.time {
    height: 50px;
    text-align: center;
}

.timeTable {
    font-size: 9px;
}

.timeTableContent {
    display: inline-block;
    vertical-align: top;
    border-collapse: collapse;
    margin-top: 9px;
    margin-left: 8px;
}

/* 스위치 배경과 토글 버튼 크기 조정 */
.form-switch .form-check-input {
    width: 3.75em; /* 너비 조정 (원래 2.5em의 1.5배) */
    height: 1.875em; /* 높이 조정 (원래 1.25em의 1.5배) */
}

.form-switch .form-check-input:checked ~ .form-check-label::before {
    transform: translateX(1.875em); /* 체크 상태일 때 토글 버튼 위치 조정 (원래 1.25em의 1.5배) */
}

/* 가상 요소의 배경과 토글 버튼의 크기 조정 */
.form-switch .form-check-input::before,
.form-switch .form-check-input::after {
    width: calc(1.875em - 4px); /* 너비 조정 (원래 calc(1.25em - 4px)의 1.5배) */
    height: calc(1.875em - 4px); /* 높이 조정 (원래 calc(1.25em - 4px)의 1.5배) */
}

/* 활성 상태일 때 토글 버튼의 크기 조정 */
.form-switch .form-check-input:active::after {
    width: calc(1.875em - 2px); /* 클릭 시 너비 조정 (원래 calc(1.25em - 2px)의 1.5배) */
}

body {
    font-size: 12px;
    font-family: Orbit-Regular;
}